services:
    useriptracker.db:
        container_name: useriptracker.db
        image: postgres:16
        restart: always
        environment:
          POSTGRES_DB: UserIpTracker
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: aDmIn44*
        ports:
          - "5432:5432"
        volumes:
          - useriptracker_pgdata:/var/lib/postgresql/data
        networks:
          - appnet
    useriptracker.api:
        container_name: useriptracker.api
        image: ${DOCKER_REGISTRY-}useriptrackerapi
        restart: on-failure
        build:
          context: .
          dockerfile: src/UserIpTracker.Api/Dockerfile
        environment:
            ASPNETCORE_ENVIRONMENT: Development
            ASPNETCORE_URLS: http://+:8080
        ports:
            - "8080:8080"
            - "8081:8081" 
        depends_on:
         - useriptracker.db
        networks:
          - appnet
    useriptracker.loadtest:
        container_name: useriptracker.loadtest
        restart: on-failure
        build:
            context: .
            dockerfile: tests/UserIpTracker.LoadTests/Dockerfile
        depends_on:
            useriptracker.api:
                condition: service_started
        networks:
          - appnet
volumes:
  useriptracker_pgdata:    

networks:
  appnet:
    driver: bridge
